.container {
  padding: 20px;
}

.container h2 {
  margin: 10px 0 0 10px;
}

.container p {
  margin: 0 0 0 10px;
}

.bodycontainer {
  background: white;
  border-radius: 20px;
  padding: 20px 40px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.headerButtons {
  /* border: 1px solid var(--lightThemecolor); */
  padding: 14px 25px 10px;
  font-weight: 500;
  border-radius: 6px;
  width: 100%;
  white-space: nowrap;
}

.headerButtons span {
  color: var(--blue2);
  font-size: 20px;
}

.headerButtons:hover,
.activeTab {
  background: var(--blue2);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.headerButtons:hover span,
.activeTab span {
  filter: brightness(100);
}

.bodyHeaer {
  color: var(--blue2);
}

.bodyHeaer span {
  height: 22px;
  width: 22px;
  font-size: 22px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.headertabContainer {
  width: 100%;
  overflow-x: auto;
  border: 1px solid #cdcdcd;
  padding: 10px 15px;
  border-radius: 6px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.headertabContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@media screen and (max-width: 900px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
}
