.phoneInput {
  width: 100%;
}

.miniDropdownContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.miniDropdownContainer > div {
  flex: 1;
}

.tabContainer {
  display: flex;
  gap: 10px;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  padding: 0 10px;
  margin: 20px 0;
  font-weight: 500;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.tabContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.activetab,
.navtab:hover,
.activetab:hover {
  background: var(--themeBTNBG);
  color: var(--white);
}

.navtab:hover img,
.activetab img,
.activetab:hover img {
  filter: brightness(0) invert(1);
}
.navtab {
  color: var(--themeBTNBG);
  border: 1px solid var(--tabborder);
}

.tabBTN {
  border-radius: 20px !important;
  padding: 14px 25px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
}

.tabBTN span {
  height: 20px;
  width: 20px;
  font-size: 18px;
  margin-top: 1px;
}

.tabcontentcontainerMain {
  background: var(--white);
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.tabcontentcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.edituserButtons {
  background: var(--userbtnBG);
  padding: 10px 12px;
  border-radius: 12px;
  font-size: 14px;
}

.edituserButtons span {
  font-size: 16px;
  height: 16px;
  width: 16px;
  margin-top: 2px;
}

.userImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.userbgcontainer {
  background: var(--white);
  padding: 10px 20px;
  border-radius: 15px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow: auto;
  width: 100%;
}

.tabContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.tabinfo {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 15px 0;
  color: var(--themeBTNBG);
}

.formlabel {
  font-size: 14px;
  color: var(--formlabel);
  font-weight: 500;
  margin-bottom: 8px;
}

.textarea {
  width: 100%;
  min-height: 50px;
  height: 100%;
  resize: auto;
  outline: none;
  height: auto;
}
