.MainLoading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* height: 100vh; */
  backdrop-filter: blur(5px);
  z-index: 1019;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.MainLoadingFixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 999999999999999;
}

body:has(.MainLoading),
body:has(.MainLoading) * {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body:has(.MainLoading)::-webkit-scrollbar,
body:has(.MainLoading) *::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.loading-container {
  position: absolute;
  /* top: 45%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 100%;
  position: sticky;
  /* min-height: 90vh; */
  max-height: 99vh;
  min-height: 80vh;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 60px;
  /* backdrop-filter: blur(6px); */
  border-radius: 8px;
  z-index: 999999999999999;
}

/* Style for the spinner */
.spinner p {
  margin: 0;
  margin-top: 13px;
}
.spinner {
  border: 5px solid #f3f3f3; /* Light gray background */
  border-top: 5px solid var(--blue2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.6s linear infinite;
}

/* Keyframes for the spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
