.tabs {
  display: flex;
  margin-bottom: 8px;
  border-radius: 8px;
  width: max-content;
  border: 2px solid rgb(184, 184, 184);
}

.tabButton {
  padding: 8px 12px;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  color: #374151;
  font-weight: 600;
}

.leftBTN {
  border-radius: 6px 0 0 6px;
}

.rightBTN {
  border-radius: 0 6px 6px 0;
}

.tabActive,
.tabButton:hover {
  background: #111827;
  color: #fff;
}
